* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Nunito";
}

:root {
    --blue--: #2b82cf;
    --red--: #b20e34;
    --yellow--: #ffd166;
}
header {
    display: flex;
    width: 100%;
    background-color: rgb(240, 240, 240);
    position: fixed;
    z-index: 999999999;
}
.content_header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top_header {
    margin-left: 30px;
    height: 50px;
    display: flex;
    align-content: flex-end;
}
.tel {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: grey;
    font-size: 12px;
}
.tel img {
    width: 15px;
    margin-right: 5px;
}
.tel a {
    color: grey;
    font-size: 12px;
    margin-left: 5px;
    text-decoration: none;
    font-weight: 800;
}
.tel a:hover {
    color: rgb(71, 8, 113);
    text-decoration: none;
}
.location {
    color: grey;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.location a {
    color: grey;
    text-decoration: none;
    font-weight: 800;
}
.location a:hover {
    color: rgb(71, 8, 113);
    text-decoration: none;
}

.weather {
    margin-left: 40px;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 15px;
    width: 25%;
    justify-content: flex-end;
}
.down_header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}
.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 871px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
.main-menu > li {
    display: inline-flex;
}
.main-menu > li + li {
    margin-left: 20px;
}
.main-menu > li > a {
    padding: 0 0 20px 0;
    position: relative;
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 20px;
    text-decoration: none;
}
.main-menu > li > a:hover {
    text-decoration: none;
    color: rgb(71, 8, 113);
}
.main-menu > li > a:after {
    width: 0;
    height: 3px;
    background-color: rgb(71, 8, 113);
    content: "";
    left: 0;
    bottom: 10px;
    position: absolute;
    transition: all 0.3s;
}
.main-menu > li > a:hover::after {
    width: 100%;
}
.main-menu > li.active a:after {
    width: 100%;
}
.main-menu li {
    margin: 0;
    white-space: nowrap;
}
.main-menu li.menu-children {
    position: relative;
    margin-right: 12px;
}

.main-menu li.menu-children:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.main-menu ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: rgb(71, 8, 113);
    position: absolute;
    z-index: 20;
    min-width: 220px;
    top: 100%;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25);
}
.main-menu ul li {
    display: block;
    padding: 0 10px;
    line-height: 1.1;
}
.main-menu ul li:last-child {
    margin-bottom: 0;
}
.main-menu ul li a {
    display: block;
    color: #fff;
    padding: 10px;
    transition: all 0.3s;
    text-decoration: none;
}
.main-menu ul li a:hover {
    color: rgb(71, 8, 113);
    background: #fff;
    text-decoration: none;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    display: flex;
    max-height: 550px;
    overflow: hidden;
    position: relative;
}

.carousel-item {
    visibility: visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
    transition: 0.6s all linear;
}

.carousel-item__info {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;

    order: 1;
    left: 0;
    margin: auto;
    padding: 0 40px;
    width: 40%;
}

.carousel-item__image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;

    -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transform: translateX(100%);
    transition: 0.6s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2c2c2c;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-size: 13px;
    color: #7e7e7e;
    line-height: 22px;
    margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image {
    background-image: url("/img/main/main_ph.jpeg");
}

.carousel-item--2 .carousel-item__image {
    background-image: url("/img/main/solyariy.jpeg");
}

.carousel-item--3 .carousel-item__image {
    background-image: url("/img/main/program.jpg");
}

.carousel-item--4 .carousel-item__image {
    background-image: url("/img/main/beach.jpeg");
}

.carousel-item__btn {
    font-weight: 900;
    width: 35%;
    color: #2c2c2c;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;

    text-decoration: none;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}
.carousel-item__btn:hover {
    color: rgb(71, 8, 113);
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
    bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    fill: #5d5d5d;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content: "";
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active {
    z-index: 1;
    display: flex;
    visibility: visible;
}

.active .carousel-item__subtitle,
.active .carousel-item__title,
.active .carousel-item__description,
.active .carousel-item__btn {
    transform: translateY(0);
    opacity: 1;
    transition: 0.6s all ease-in-out;
    visibility: visible;
}

.active .carousel-item__image {
    transition: 0.6s all ease-in-out;
    transform: translateX(0);
}

/* Вибор услуг */
.second_block {
    background-color: rgb(240, 240, 240);
    height: 220px;
}
.window_bron {
    position: relative;
    top: -50px;
    z-index: 99999;
    width: 1000px;
    height: 100px;
    background-color: rgb(240, 240, 240);
    display: flex;
    padding: 10px;
    margin: 0px auto 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
}
.title_services {
    color: rgba(66, 67, 72, 0.8);
    font-weight: 500;
}
.title_date {
    color: rgba(66, 67, 72, 0.8);
    font-weight: 500;
}
.select {
    position: relative;
    display: block;
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
    width: 180px;
    border-bottom: 1px solid rgb(71, 8, 113, 0.4);
}

.select__head {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    font-size: 20px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 900;
    cursor: pointer;
}

.select__head::after {
    width: 10px;
    height: 6px;
    background: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.0719461 0.922098 -0.071946 1.19549 0.215837L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718292 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970492 9.79486 1.25839L5.49508 5.78425C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='%23ED266A'/%3E%3C/svg%3E%0A")
        no-repeat center / cover;
    position: absolute;
    right: 0px;
    bottom: 50%;
    transform: translateY(50%);
    content: "";
    display: block;
    transition: 0.2s ease-in;
}

.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}

.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 5px;
    max-height: 205px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #424348;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #f8f9fa;
    padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d9d9d9;
}

.select__list .select__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none;
}

.select__list .select__item:hover {
    background-color: rgba(224, 229, 231, 0.5);
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    margin-top: 20px;
    width: 180px;
    border-bottom: 1px solid rgb(71, 8, 113, 0.4);
    appearance: none;
    -webkit-appearance: none;
    color: #000000;
    font-weight: 900;
    font-family: "Nunito", arial, sans-serif;
    font-size: 20px;
    background: #ecf0f1;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"],
focus {
    color: #000000;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    top: -11px;
    position: relative;
}
input {
    outline: none;
    border: none;
}

input[type="time"] {
    margin-top: 20px;
    width: 180px;
    border-bottom: 1px solid rgb(71, 8, 113, 0.4);
    appearance: none;
    -webkit-appearance: none;
    color: #000000;
    font-weight: 900;
    font-family: "Nunito", arial, sans-serif;
    font-size: 20px;
    background: #ecf0f1;
    display: inline-block !important;
    visibility: visible !important;
    top: -11px;
    position: relative;
}
.search_btn {
    padding: 0 10px;
    text-decoration: none;
    width: 138px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: auto 0px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgb(71, 8, 113, 0.4);
    transition: 0.3s;
}
.search_btn:hover {
    background: rgb(71, 8, 113);
    box-shadow: 0 15px 20px rgb(71, 8, 113, 0.4);
    color: white;
    transform: translateY(-7px);
}

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* цвет фона */
    z-index: 999999999;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto; /* для отображения модального окна по центру */
    }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}
.modal-body input[type="text"],
.modal-body input[type="number"] {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(71, 8, 113);
}

label {
    margin: 20px 0px 10px 0;
    /* margin-left: 0px;
    margin-bottom: 10px; */
    display: block;
    font-weight: 700;
    color: #000000;
}

.btn {
    padding: 0 10px;
    text-decoration: none;
    width: 138px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 0px auto;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgb(71, 8, 113, 0.4);
    transition: 0.3s;
    display: flex;
    justify-content: center;
}
.btn:hover {
    background: rgb(71, 8, 113);
    box-shadow: 0 15px 20px rgb(71, 8, 113, 0.4);
    color: white;
    transform: translateY(-7px);
}
